//
// Here is the main stylesheet for the site.
//



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base font and background */
html {
    font-size: 90%; 
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F7; 
    color: #424242; 
    line-height: 1.6;
    max-width: 700px; 
    margin: 0 auto;
    padding: 20px; 
}

/* Header styling */
header {
    background-color:#F7F7F7; 
    color: #424242; 
    padding: 5px;
    text-align: center;
}

/* Header links */
header a {
    color: #424242; 
    text-decoration: none;
    font-weight: 500;
    margin: 0 10px; 
}

header a:hover {
    color: #616161; 
}


.wrapper {
    display: block;
}


.image, .title, .menu {
    text-align: center;
    margin-bottom: 20px;
}

/* Platypus and Illinois logos */
#platypus, #illinois {
    max-width: 80px;
    height: auto;
    display: block;
    margin: 10px auto;
}


/* Article links */
article a {
    color: #1E88E5; 
    text-decoration: none;
}

article a:hover {
    text-decoration: underline; 
}


/* Article titles */
article h1 {
    font-size: 1.75rem;
    color: #424242;
    margin-bottom: 15px;
}

article h2 {
    color: #333333; 
    margin: 20px 0; 
    padding-bottom: 5px; 
}


/* Footer styling */
footer {
    border-radius: 15px;
    font-size: 0.9rem; 
    color: #757575; 
    text-align: center;
    margin-top: 30px;
    padding: 15px 0;
    background-color: rgb(240, 240, 240); 
}



footer a {
    color: #1E88E5; 
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline; 
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem; 
}

@media only screen and (max-width: 800px) {
    .wrapper {display: grid; grid-template-columns: auto;}
    .image {display: flex; justify-content: center; grid-column: 1; grid-row: 1; text-align: center; margin-bottom: .5em;}
    #platypus {width: 100%; margin: auto;}
    .title {grid-column: 1; grid-row: 2; margin-bottom: .5em;}
    .menu {grid-column: 1; grid-row: 3;}
    article h1 {font-size: 150%;}
    .channel-title-wrapper {flex-direction: column;}
    .channel-title-link {width: 4em; margin-top: .5em;}
}

//
// search results
//
.search-result {
    border: 1px solid #BDBDBD; 
    border-radius: 0.7em;
    margin: 1em 0;
    padding: 1em;
    background-color: #FFFFFF; 
}


.channel-title-wrapper, .last-edit, .abt, .search-results {
    margin-bottom: 20px;
}

.channel-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.last-edit {
    font-size: 0.75rem; 
}

.channel-title-link {
    background-color: #EEEEEE;
    padding: 5px 15px; 
    border-radius: 15px; 
    border: none;
    display: inline-flex; 
    align-items: center; 
}

.channel-title-link i,
.channel-title-link span {
    color: #424242; 
}



@import '~/node_modules/tippy.js/dist/tippy.css';
@import '~/node_modules/tippy.js/themes/light.css';



