<footer>
<a href="https://math.illinois.edu/" target="_blank"><img id="illinois" src="~/website/templates/illinois_logo.png" alt="University of Illinois Logo" /></a>
This website was created during the <a href="https://math.illinois.edu/research/illinois-geometry-lab" target="_blank"><abbr title="Illinois Geometry Lab">IGL</abbr></a> project <a href="https://math.illinois.edu/research/igl/projects/fall/2023/mapping-out-quantum-channel-zoo" target="_blank">Mapping out the quantum channel zoo</a> in the 2023 Fall term at the <a href="https://math.illinois.edu/" target="_blank">University of Illinois Urbana-Champaign</a>.
It is built using the
<a href="https://github.com/phfaist/zoodb" target="_blank">ZooDb package</a>.<br/>
Zookeepers: <a href="mailto:sgb4@illinois.edu">Sujeet Bhalerao</a> and <a href="mailto:leditzky@illinois.edu">Felix Leditzky</a>
</footer>