<footer>
This website was created during the <a href="https://math.illinois.edu/research/illinois-geometry-lab" target="_blank"><abbr title="Illinois Geometry Lab">IGL</abbr></a> project <a href="https://math.illinois.edu/research/igl/projects/fall/2023/mapping-out-quantum-channel-zoo" target="_blank">Mapping out the quantum channel zoo</a> carried out in the 2023 Fall term at the University of Illinois Urbana-Champaign.
It is built using the
<a href="https://github.com/phfaist/zoodb" target="_blank">ZooDb package</a>.
</footer>
