<header>
<img id="platypus" src="~/website/templates/platypus.png" alt="Platypus" /><h1>Welcome to the Quantum Channel Zoo!</h1>
<a href="/">Home</a>
|
<a href="/search">Search</a>
|
<a href="/about">About</a>
<!-- You can add further shorthand links here -->
</header>