<header>
<div class="wrapper">
<div class="image">
<!--<img id="platypus" src="~/website/templates/platypus.png" alt="Platypus" />-->
</div>
<div class="title"><h1>The Quantum Channel Zoo</h1></div>
<div class="menu">
<a href="/">Home</a>
|
<a href="/search">Search</a>
|
<a href="/about">About</a>
</div>
</div>
<!-- You can add further shorthand links here -->
</header>